/* //////////////////////// GENERAL //////////////////////// */
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 2rem;
    margin: 1rem 0;
}
h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0;
}
h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

/* //////////////////////// HOME PAGE //////////////////////// */

/* //////// HEADER SECTION //////// */
#homepage #header {
    display: flex;
    flex-direction: column;
}
#homepage #header #topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
#homepage #header #logo {
    font-size: 1.5rem;
    font-weight: bold;
}
#homepage #header #menu ul {
    display: flex;
}
#homepage #header #menu li {
    list-style: none;
    padding-left: 1rem;
}
#homepage #header #savings {
    background-color: rgb(0, 79, 138);
    color: white;
    text-align: center;
}

/* //////// MAIN SECTION //////// */
#homepage #main {
    text-align: center;
    padding: 14rem;
}
#homepage #main button {
    background-color: #ff5050;
    color: white;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.3rem;
}
#homepage #main button a {
    text-decoration: none;
    color: white;
}

/* //////// FOOTER SECTION //////// */
#homepage #footer {
    background-color: rgb(0, 79, 138);
    color: white;
    text-align: center;
    padding: 0.3rem;
}


/* //////////////////////// PROFILE PAGES //////////////////////// */
#profilepage {
    display: flex;
    min-height: 40rem;
    max-height: 80rem;
}

/* //////// HEADER SECTION //////// */
#profilepage #header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: #bef6ff;
    width: 12rem;
}
#profilepage #header #logo {
    font-size: 1.5rem;
    font-weight: bold;
}
#profilepage #header #logo a {
    text-decoration: none;
    color: black;
}
#profilepage #header #menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
#profilepage #header #menu li {
    list-style: none;
    padding: 1.25rem 0;
}
#profilepage #header #menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* //////// MAIN SECTION //////// */
#profilepage #main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
#profilepage #main #next {
    background-color: #ff5050;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 0.3rem;
}
#profilepage #main #next a {
    text-decoration: none;
    color: white;
}

/* SIZE */
#profilepage span {
    cursor: pointer;
}
#profilepage #seats-form {
    width: 15rem;
}
#profilepage #minus, #plus {
    width: 1.8rem;
	height: 1.5rem;
	background:#f2f2f2;
	border-radius: 0.3rem;
	padding:0.3rem;
	border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#profilepage #seats-form input {
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}
#profilepage #spacePerEmployee input[type=radio] {
    display: none;
}
#profilepage #spacePerEmployee input[type=radio]+label {
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    margin: 0.5rem -0.2rem;
    padding: 0.5rem 1.5rem;
    background-color: aliceblue;
}
#profilepage #spacePerEmployee input[type=radio]+label:active {
    border: 1px solid #ff5050;
    background-color: #ff5050;
    color: white;
}
#profilepage #spacingInfo {
    display: none;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: aliceblue;
    max-width: 50%;
}

/* LOCATION */
#profilepage #location {
    display: flex;
    padding: 2rem 0;
}
#profilepage #city {
    width: 25rem;
    padding: 1rem;
    margin: 0 1.5rem 1rem 0;
    border-radius: 0.3rem;
    font-size: 1rem;
}
#profilepage #neighborhoods {
    width: 23rem;
    padding: 1rem;
    margin: 0 1.5rem 1rem 0;
    font-size: 1rem;
    background-color: #eeecec;
    border-color: black;
    border-radius: 0.3rem;
}
#profilepage #neighborhoods p {
    margin: 0 0 0.7rem 0;
}
